.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px;
  }
  
  .btn {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    border-radius: 3px;
    flex-grow: 1;
    color: #333;
    background-color: #f3f3f3;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }
  
  .btn img {
    width: 25px;
    height: auto;
    margin-right: 5px;
  }
  
  .btn span {
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Efeito ao passar o mouse */
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .selectedBtn {
    background-color: #6e0ad6;
    color: #fff;
  }